# General
.DS_Store
Thumbs.db
Desktop.ini
.env
*.log
*.zip

# Linux Module
linux/bin/
linux/lib/
linux/vnc.pass
linux/*.log

# Windows Module
windows/bin/
windows/lib/
windows/node_modules/
windows/*.log
windows/*.exe
# Ignore locally downloaded windows binaries if at root (during transition)
bin/
lib/


tunnel_token.txt

notify_url.ps1

enable_autologon.ps1
